* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: .3rem 0;
}

.column {
  min-height: 100vh;
  width: 800px;
  padding: 1rem;
  border-right: 1px solid grey;
}

.inactive {
  background-color: #eee;
}

.active {
  background-color: #eef;
}

.done {
  background-color: #efe;
}

.card {
  border-radius: .5rem;
  margin: 1rem 0;
  padding: 1rem;
}

.card h1 {
  border-bottom: 1px solid grey;
}

.comment {
  padding: .5rem;
  margin: .5rem 0;
  background-color: white;
  border-radius: .5rem;
}

.small {
  font-size: .8rem;
}

.big {
  font-size: 1.3rem;
}

.header-update {
  float: right;
}

.text-input {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  margin: .5rem 0;
  font-size: 1.2rem;
}

.text-input input {
  flex-grow: 1;
  font-size: inherit;
}

.text-input button {
  font-size: inherit;
  padding: 0 .5rem;
  border: 1px solid lightgrey;
  background-color: transparent;
  border-radius: .3rem;
}

ul {
  padding-left: 2rem;
}